{% extends "base_generic.html" %}
{% load static i18n %}

{% block content %}

<div class="row">
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow">
            <div class="card-header bg-gray-600 text-gray-100">
                <h7 class="m-0 font-weight-bold">Total by 24 hours (by mag):</h7>
            </div>
            <div class="card-body">
                <canvas id="dayChart" height="400" width="400"></canvas>
            </div>
        </div>        
    </div>
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow">
            <div class="card-header bg-gray-600 text-gray-100">
                <h7 class="m-0 font-weight-bold">Total by last month (by mag):</h7>
            </div>
            <div class="card-body">
                <canvas id="monthChart" height="400" width="400"></canvas>
            </div>
        </div>
    </div>
</div>

<script>
    var chart_day_data = '{{chart_day_data}}';
    var chart_mon_data = '{{chart_mon_data}}';    
</script>
<script src="{% static 'js/charts/charts.js' %}"></script>

{% endblock%}