{% extends "base_generic.html" %}
{% load static i18n %}

{% block content %}
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
    <button class="btn btn-info btn-icon-split" id="dashUpdateBtn" onclick="dashupdate">
        <span class="icon text-white-50">
            <i class="fas fa-info-circle"></i>
        </span>
        <span class="text">Update data</span>
    </button>
    <span class="text">Dashboard data auto refresh every 60 seconds...</span>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-5 col-lg-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <span class="text">Total in past month (by mag):</span>
                </div>
                <div class="card-body">
                    <canvas id="monthChart" height="300" width="100"></canvas>
                </div>
            </div>
        </div>
        <div class="col-sm-5 col-lg-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <span class="text">Total in past 24 hours (by mag):</span>
                </div>
                <div class="card-body">
                    <canvas id="dayChart" height="300" width="100"></canvas>
                </div>
            </div>
        </div>
        <div class="col-sm-5 col-lg-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <span class="text">Max magnitude values:</span>
                </div>
                <div class="card-body">
                    <canvas id="maxChart" height="300" width="100"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script>
    var _chart_day_data = '{{chart_day_data}}';
    var _chart_mon_data = '{{chart_mon_data}}';
    var _chart_max_data = '{{chart_max_data}}';
    var _date_from = '{{date_from}}';
    var _date_till = '{{date_till}}';
    var _session_key = '{{session_key}}';
</script>
<script src="{% static 'js/charts/charts.js' %}"></script>
<script src="{% static 'js/dashboard.js' %}"></script>

{% endblock%}