{% extends "base_login.html" %}
{% load static i18n %}


{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="p-3">
                        <form class="user" method="POST" action="{% url 'profile' %}">
                            {% csrf_token %}
                            <div class="form-group row align-items-center">
                                <div class="col">
                                    <div class="text-center">
                                        {% if error_message %}
                                        <h5 class="h5 text-danger mb-4">{{error_message}}</h4>
                                            {% endif %}
                                            <h1 class="h4 text-gray-900 mb-4">Profile...</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row align-items-center">
                                <div class="col">
                                    <div class="text-right">
                                        First name:
                                    </div>
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control form-control-user" name="FirstNameInput"
                                        placeholder="First Name" required="required" value="{{user_first_name}}"
                                        size="50">
                                </div>
                            </div>
                            <div class="form-group row align-items-end">
                                <div class="col">
                                    <div class="text-right">
                                        Last name:
                                    </div>
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control form-control-user" name="LastNameInput"
                                        placeholder="Last Name" required="required" value="{{user_last_name}}"
                                        size="50">
                                </div>
                            </div>
                            <div class="form-group row align-items-end">
                                <div class="col">
                                    <div class="text-right">
                                        Login:
                                    </div>
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control form-control-user" name="LoginInput"
                                        placeholder="Login name" required="required" value="{{user_login_name}}"
                                        size="50">
                                </div>
                            </div>
                            <div class="form-group row align-items-end">
                                <div class="col">
                                    <div class="text-right">
                                        Email:
                                    </div>
                                </div>
                                <div class="col">
                                    <input type="email" class="form-control form-control-user" name="EmailInput"
                                        placeholder="Email Address" required="required" value="{{user_email}}"
                                        size="50">
                                </div>
                            </div>
                            <div class="form-group row align-items-end">
                                <div class="col">
                                    <button class="btn btn-primary btn-user btn-block" type="submit">Save profile</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}